body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(101, 162, 255);
  color: white;
  padding: 0;
  margin: 0;
  bottom: 0;
  position: relative;
}
#bgImg {
  object-fit: cover;
  width: 100%;

  display: block;
  margin: auto;
}
.lgContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}
.container {
  position: absolute;
  left: 2%;
  right: 2%;
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 2% 4% 3%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 0 0 25px black;
}
.inputField {
  margin: 3rem auto 2rem;
  font-size: 1.5rem;
}
input {
  font-size: 1.3rem;
  margin-left: 1rem;
  padding: 0.4rem;
  width: 60%;
  border-radius: 10px;
}
button {
  font-size: 1.5rem;
  cursor: pointer;
  margin: auto 0.5rem;
  padding: 10px 10px;
  border-radius: 10px;
  color: white;
  background-color: rgba(53, 53, 53, 0.5);
  box-shadow: 3px 3px 25px rgb(0, 0, 0, 0.7),
    inset 0 4px 10px -1px rgb(255, 255, 255);
}
button:hover {
  background-color: rgba(227, 227, 227, 0.5);
  color: rgb(9, 9, 9);
}
#btnCheck {
  width: 40%;
  display: inline-block;
}
#btnForcast {
  width: 40%;
  display: inline-block;
}
.details {
  position: absolute;
  padding: 1rem;
  font-size: 1.3rem;
}
.details2 {
  padding: 0.3rem;
  font-size: 1.3rem;
}
.day1,
.day2,
.day3,
.day4,
.day5,
.day6,
.day7 {
  display: inline-block;
  width: 23%;
  margin: 0.7rem;
  padding: 0.5rem;
}
.overall {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  margin: -2rem auto 1rem auto;
}
.forecastLocation {
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  margin: -2rem auto 1rem;
}
.hide {
  display: none;
}
.hrVisible {
  margin: -1rem auto auto;
  border-top: 1px solid white;
}
.location {
  text-align: center;
  border-radius: 0 0 20px 20px;
  font-size: 1.4rem;
  position: relative;
  margin: -0.1rem auto 1rem auto;
}
.bglight {
  background-color: rgba(0, 0, 0, 0.2);
}

.latitudeLongitude {
  left: 3rem;
  line-height: 2.2rem;
  top: 28.3rem;
  text-align: left;
}
.wind {
  top: 33rem;
  left: 3rem;
}
.temperature {
  top: 28.3rem;
  line-height: 2.2rem;
  right: 3rem;
  text-align: right;
}
.humidity {
  top: 33rem;
  right: 3.1rem;
}
.onlyDate {
  right: 3rem;
  top: 36.5rem;
}
.onlyTime {
  left: 3rem;
  top: 36.5rem;
  text-align: left;
}
.icon {
  margin: 2rem;
}
.output,
.error {
  margin: 4rem auto;
  font-size: 1.4rem;
  line-height: 2rem;
}
.footer {
  position: absolute;
  top: 43.4rem;
  font-size: 0.8rem;
  right: 4rem;
  color: rgb(220, 220, 220);
}
@media screen and (max-width: 720px) {
  h1 {
    font-size: 2.2rem;
  }
  .lgContainer {
    height: 900px;
  }
  .container {
    left: 0%;
    right: 0%;
    height: 100%;
    margin: 0;
    padding: 1rem auto;
  }

  input {
    width: 58%;
    font-size: 1.1rem;
  }
  button {
    font-size: 1.4rem;
  }
  #btnCheck {
    width: 35%;
  }
  #btnForcast {
    width: 45%;
  }

  .details {
    font-size: 1.2rem;
  }
  .overall {
    position: absolute;
    left: 0;
    top: 18.5rem;
    border-radius: 0 20px 0 0;
    width: 320px;
    text-align: left;
    font-size: 1.7rem;
    font-weight: 300;
  }
  .hrVisible {
    position: absolute;
    width: 352px;
    top: 21.5rem;
    left: 0;
    border-top: 1px solid white;
  }
  .day1,
  .day2,
  .day3,
  .day4,
  .day5,
  .day6,
  .day7 {
    width: 30%;
    margin: 1rem;
    padding: 1rem;
  }

  .location {
    position: absolute;
    border-radius: 0 0 20px 0;
    display: inline-block;
    left: 0;
    width: 320px;
    text-align: left;
    top: 20.7rem;
    font-size: 1.3rem;
  }

  .latitudeLongitude {
    left: 0;
    top: 27.3rem;
  }
  .wind {
    top: 32rem;
    left: 0rem;
  }
  .temperature {
    top: 27.3rem;
    right: 0rem;
  }
  .humidity {
    top: 32rem;
    right: 0rem;
  }
  .onlyDate {
    right: 0rem;
    top: 35.5rem;
  }
  .onlyTime {
    left: 0rem;
    top: 35.5rem;
    text-align: left;
  }
  .icon {
    position: absolute;
    right: 1rem;
    top: 17rem;
  }
  .forecastLocation {
    font-size: 1.6rem;
    margin: -2rem auto 1rem;
  }
  .error {
    font-size: 1.5rem;
  }

  .footer {
    right: 1.5rem;
  }
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 2.2rem;
  }
  .lgContainer {
    height: 900px;
  }
  label {
    font-size: 1.3rem;
  }
  input {
    width: 53%;
  }
  button {
    font-size: 1.2rem;
  }
  .overall {
    font-size: 1.6rem;
    width: 270px;
    top: 18rem;
  }
  .hrVisible {
    width: 300px;
    top: 21rem;
  }
  .location {
    font-size: 1.3rem;
    width: 270px;
    top: 20.1rem;
  }
  .forecastLocation {
    font-size: 1.6rem;
    margin: -2rem auto 1rem;
  }
  .error {
    font-size: 1.5rem;
  }

  .icon {
    right: 0;
    top: 16.3rem;
  }
}
