body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(101, 162, 255);
  color: white;
  padding: 0;
  margin: 0;
  bottom: 0;
  position: relative;
}
#bgImg {
  object-fit: cover;
  width: 100%;
  max-height: 1000px;
  display: block;
  margin: auto;
}
.lgContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}
.container {
  position: absolute;
  left: 2%;
  right: 2%;
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 2% 4% 3%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 0 0 25px black;
}
.inputField {
  margin: 3rem auto 2rem;
  font-size: 1.5rem;
}
input {
  font-size: 1.1rem;
  margin-left: 1rem;
  padding: 0.4rem;
  width: 270px;
  border-radius: 10px;
}
button {
  font-size: 1.5rem;
  padding: 10px 180px;
  border-radius: 10px;
  border-color: rgb(101, 162, 255);
  color: white;
  background-color: rgb(101, 162, 255);
  box-shadow: 0 2px 10px gray, inset 0 4px 10px -1px rgb(255, 255, 255);
}
.details {
  position: absolute;
  padding: 1rem;
  font-size: 1.3rem;
}
.overall {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  margin: -2rem auto 1rem auto;
}
.hrVisible {
  margin: -1rem auto auto;
  border-top: 1px solid white;
}
.location {
  text-align: center;
  border-radius: 0 0 20px 20px;
  font-size: 1.4rem;
  position: relative;
  margin: -0.1rem auto 1rem auto;
}
.bglight {
  background-color: rgba(0, 0, 0, 0.2);
}

.latitudeLongitude {
  left: 3rem;
  line-height: 2.2rem;
  top: 28.3rem;
  text-align: left;
}
.wind {
  top: 33rem;
  left: 3rem;
}
.temperature {
  top: 28.3rem;
  line-height: 2.2rem;
  right: 3rem;
  text-align: right;
}
.humidity {
  top: 33rem;
  right: 3.1rem;
}
.onlyDate {
  right: 3rem;
  top: 36.5rem;
}
.onlyTime {
  left: 3rem;
  top: 36.5rem;
  text-align: left;
}
.icon {
  margin: 2rem;
}
.output {
  margin: 4rem auto;
  font-size: 1.4rem;
  line-height: 2rem;
}
.footer {
  position: absolute;
  top: 42.4rem;
  font-size: 0.9rem;
  right: 4rem;
  color: rgb(220, 220, 220);
}
@media screen and (max-width: 720px) {
  h1 {
    font-size: 2.2rem;
  }
  .lgContainer {
    height: 750px;
  }
  .container {
    left: 0%;
    right: 0%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    padding: 1rem auto;
  }

  input {
    width: 250px;
    font-size: 1.1rem;
  }
  button {
    width: 80%;
    padding: 10px 80px;
  }
  .details {
    font-size: 1.2rem;
  }
  .overall {
    position: absolute;
    left: 0;
    top: 18.5rem;
    border-radius: 0 20px 0 0;
    width: 320px;
    text-align: left;
    font-size: 1.7rem;
    font-weight: 300;
  }
  .hrVisible {
    position: absolute;
    width: 352px;
    top: 21.5rem;
    left: 0;
    border-top: 1px solid white;
  }
  .icon {
    position: absolute;
    right: 1.5rem;
    top: 17rem;
  }

  .location {
    position: absolute;
    border-radius: 0 0 20px 0;
    font-size: 1.4rem;
    font-weight: 300;
    display: inline-block;
    left: 0;
    width: 320px;
    text-align: left;
    top: 20.7rem;
    font-weight: 300;
    font-size: 1.3rem;
  }

  .latitudeLongitude {
    left: 0;
    top: 27.3rem;
  }
  .wind {
    top: 32rem;
    left: 0rem;
  }
  .temperature {
    top: 27.3rem;
    right: 0rem;
  }
  .humidity {
    top: 32rem;
    right: 0rem;
  }
  .onlyDate {
    right: 0rem;
    top: 35.5rem;
  }
  .onlyTime {
    left: 0rem;
    top: 35.5rem;
    text-align: left;
  }
  .icon {
    margin: 2rem;
  }

  .footer {
    top: 43.4rem;
    font-size: 0.9rem;
    right: 2.2rem;
  }
  .output {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 2.2rem;
  }
  .lgContainer {
    height: 770px;
  }
  .container {
    left: 0%;
    right: 0%;
    height: 100%;
    margin: 0;
    padding: 1rem auto;
    border-radius: 0px;
  }

  input {
    width: 200px;
    font-size: 1rem;
  }
  button {
    width: 82%;
    padding: 10px 80px;
  }
  .details {
    font-size: 1.2rem;
  }
  .overall {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 300;
    left: 0;
    border-radius: 0 20px 0 0;
    width: 270px;
    text-align: left;
    top: 18rem;
  }
  .hrVisible {
    position: absolute;
    width: 300px;
    top: 21rem;
    left: 0;
    border-top: 1px solid white;
  }

  .location {
    position: absolute;
    border-radius: 0 0 20px 0;
    font-size: 1.4rem;
    font-weight: 300;
    display: inline-block;
    left: 0;
    width: 270px;
    text-align: left;
    top: 20.1rem;
    font-weight: 300;
    font-size: 1.3rem;
  }

  .latitudeLongitude {
    left: 0.5rem;
    top: 27.3rem;
  }
  .wind {
    top: 32rem;
    left: 0.5rem;
  }
  .temperature {
    top: 27.3rem;
    right: 0.5rem;
  }
  .humidity {
    top: 32rem;
    right: 0.5rem;
  }
  .onlyDate {
    right: 0.5rem;
    top: 35.5rem;
  }
  .onlyTime {
    left: 0.5rem;
    top: 35.5rem;
    text-align: left;
  }
  .icon {
    position: absolute;
    right: 0.5rem;
    top: 17rem;
  }

  .footer {
    top: 41.4rem;
    font-size: 0.8rem;
    right: 1.5rem;
  }
  .output {
    width: 100%;
  }
}
