body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  bottom: 0;
  position: relative;
}
#bgImg {
  object-fit: cover;
  width: 100%;
  display: block;
  margin: auto;
}
.lgContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.container {
  position: absolute;
  left: 2%;
  right: 2%;
  max-width: 900px;
  max-height: 1150px;
  margin: auto;
  padding: 2% 4% 30%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 0 0 20px 20px;
}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 0 0 25px black;
  margin-top: 0rem;
}
.indo {
  font-weight: 100;
  color: rgb(196, 196, 196);
}
.inputField {
  margin: 3rem auto 2rem;
  font-size: 1.5rem;
  color: rgb(230, 230, 230);
}
input {
  font-size: 1.3rem;
  margin-left: 1rem;
  padding: 0.4rem;
  width: 60%;
  color: rgb(230, 230, 230);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
button {
  font-size: 1.5rem;
  cursor: pointer;
  margin: auto 0.5rem;
  padding: 10px 10px;
  border-radius: 10px;
  color: white;
  background-color: rgba(53, 53, 53, 0.5);
  box-shadow: 3px 3px 25px rgb(0, 0, 0, 0.7),
    inset 0 4px 10px -1px rgb(255, 255, 255);
}
button:hover {
  background-color: rgba(227, 227, 227, 0.5);
  color: rgb(9, 9, 9);
}
#btnCheck,
#btnForcast {
  width: 35%;
  display: inline-block;
}

.details {
  position: absolute;
  padding: 1rem;
  font-size: 1.3rem;
}
.details2 {
  padding: 0.3rem;
  font-size: 1.3rem;
}
.day1,
.day2,
.day3 {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0.7rem;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
.day1:hover,
.day2:hover,
.day3:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(11, 11, 11);
}
.overall {
  position: absolute;
  font-size: 1.4rem;
  font-weight: bold;
  top: 17rem;
  right: 2rem;
}
.location {
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  top: 17rem;
  left: 2rem;
  position: absolute;
}
.forecastLocation {
  top: 16.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  margin: -2rem auto 1rem;
}
.hide {
  display: none;
}
.hideVisibility {
  visibility: hidden;
}
.hrVisible {
  position: absolute;
  left: 3rem;
  top: 20.5rem;
  width: 40%;
  border-top: 1px solid white;
}
.hrVisible3 {
  margin: 1rem auto 1rem;
  border-top: 1px solid white;
  width: 80%;
}
.hrVisible4 {
  position: absolute;
  top: 21rem;
  left: 2rem;
  width: 60%;
  border-top: 1px solid white;
}
.latitudeLongitude {
  left: 2rem;
  line-height: 2.2rem;
  top: 28.3rem;
  text-align: left;
}
.wind {
  top: 33rem;
  left: 2rem;
}
.temperature {
  top: 28.3rem;
  line-height: 2.2rem;
  right: 2rem;
  text-align: right;
}
.humidity {
  top: 33rem;
  right: 2rem;
}
.onlyDate {
  right: 2rem;
  top: 36.5rem;
}
.onlyTime {
  left: 2rem;
  top: 36.5rem;
  text-align: left;
}
.onlyTimeZone {
  left: 2rem;
  top: 20rem;
  text-align: left;
}
.icon {
  position: absolute;
  right: 4rem;
  top: 20.5rem;
}
.output,
.error {
  margin: 4rem auto;
  font-size: 1.4rem;
  line-height: 2rem;
}
.footer,
.forecastFooter {
  position: absolute;
  top: 45.3rem;
  font-size: 0.8rem;
  right: 7%;
  color: rgb(220, 220, 220);
  text-decoration: none;
}
a {
  text-decoration: none;
  color: rgb(218, 218, 218);
}
/* In detail elements */
.overallInDetail,
.locationInDetail,
.iconInDetail,
.latitudeLongitudeInDetail,
.temperatureInDetail,
.windInDetail,
.humidityInDetail,
.onlyDateInDetail,
.onlyTimeInDetail,
.sunriseSunsetTimeInDetail,
.moonriseMoonsetTimeInDetail,
.chancesOfSnowInDetail,
.chancesOfRainInDetail {
  font-size: 1.3rem;
}
.hourlyTitle {
  position: relative;
  top: 12rem;
  font-size: 1.1rem;
  color: rgb(192, 192, 192);
}
.previousDay,
.nextDay {
  position: absolute;
  top: 35.8rem;
  color: rgb(218, 218, 218);
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 10px;
}
.previousDay {
  left: 1.6rem;
  text-align: left;
  padding: 0.5rem;
}
.nextDay {
  right: 1.6rem;
  text-align: right;
}

.hr2 {
  position: absolute;
  left: 0%;
  right: 0%;
  height: 235px;
  margin: -2.1rem auto 1rem;
  padding: 2% 6% 3%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.overallInDetail {
  position: absolute;
  top: 18.4rem;
  right: 2rem;
  text-align: right;
  margin: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.onlyTimeInDetail {
  position: absolute;
  text-align: left;
  left: 2rem;
  top: 21.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(201, 201, 201);
}
.onlyDateInDetail {
  position: relative;
  top: 12.5rem;
  font-size: 1.2rem;
  color: rgb(224, 224, 224);
}
.locationInDetail {
  position: absolute;
  top: 18.4rem;
  left: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.iconInDetail {
  position: relative;
  top: 1rem;
  text-align: right;
}
.latitudeLongitudeInDetail {
  position: absolute;
  left: 2rem;
  font-size: 1.2rem;
  top: 25.8rem;
  color: rgb(201, 201, 201);
}
.temperatureInDetail {
  position: absolute;
  right: 2rem;
  top: 25.4rem;
  text-align: right;
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}
.windInDetail {
  position: absolute;
  left: 2rem;
  text-align: left;
  font-size: 1.2rem;
  top: 27.9rem;
  color: rgb(201, 201, 201);
}
.humidityInDetail {
  position: absolute;
  right: 2rem;
  text-align: right;
  font-size: 1.2rem;
  top: 27.9rem;
  color: rgb(201, 201, 201);
}

.sunriseSunsetTimeInDetail {
  position: absolute;
  left: 2rem;
  top: 30rem;
  line-height: 1.6;
  font-size: 1.2rem;
  text-align: left;
  color: rgb(201, 201, 201);
}
.moonriseMoonsetTimeInDetail {
  position: absolute;
  top: 30rem;
  line-height: 1.6;
  font-size: 1.2rem;
  text-align: right;
  right: 2rem;
  color: rgb(201, 201, 201);
}

.hour {
  position: relative;
  display: inline-block;
  top: 11rem;
  font-size: 0.8rem;
  width: 110px;
  height: 110px;
  margin: 0.4rem;
  padding: 0.7rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.overallInDetailHour00,
.overallInDetailHour01,
.overallInDetailHour02,
.overallInDetailHour03,
.overallInDetailHour04,
.overallInDetailHour05,
.overallInDetailHour06,
.overallInDetailHour07,
.overallInDetailHour08,
.overallInDetailHour09,
.overallInDetailHour10,
.overallInDetailHour11,
.overallInDetailHour12,
.overallInDetailHour13,
.overallInDetailHour14,
.overallInDetailHour15,
.overallInDetailHour16,
.overallInDetailHour17,
.overallInDetailHour18,
.overallInDetailHour19,
.overallInDetailHour20,
.overallInDetailHour21,
.overallInDetailHour22,
.overallInDetailHour23 {
  position: relative;
  font-size: 1rem;
}

.inDetailTimeHour00,
.inDetailTimeHour01,
.inDetailTimeHour02,
.inDetailTimeHour03,
.inDetailTimeHour04,
.inDetailTimeHour05,
.inDetailTimeHour06,
.inDetailTimeHour07,
.inDetailTimeHour08,
.inDetailTimeHour09,
.inDetailTimeHour10,
.inDetailTimeHour11,
.inDetailTimeHour12,
.inDetailTimeHour13,
.inDetailTimeHour14,
.inDetailTimeHour15,
.inDetailTimeHour16,
.inDetailTimeHour17,
.inDetailTimeHour18,
.inDetailTimeHour19,
.inDetailTimeHour20,
.inDetailTimeHour21,
.inDetailTimeHour22,
.inDetailTimeHour23 {
  position: absolute;
  bottom: 0.6rem;
  left: 0.6rem;
  font-size: 0.9rem;
}

.temperatureInDetailHour00,
.temperatureInDetailHour01,
.temperatureInDetailHour02,
.temperatureInDetailHour03,
.temperatureInDetailHour04,
.temperatureInDetailHour05,
.temperatureInDetailHour06,
.temperatureInDetailHour07,
.temperatureInDetailHour08,
.temperatureInDetailHour09,
.temperatureInDetailHour10,
.temperatureInDetailHour11,
.temperatureInDetailHour12,
.temperatureInDetailHour13,
.temperatureInDetailHour14,
.temperatureInDetailHour15,
.temperatureInDetailHour16,
.temperatureInDetailHour17,
.temperatureInDetailHour18,
.temperatureInDetailHour19,
.temperatureInDetailHour20,
.temperatureInDetailHour21,
.temperatureInDetailHour22,
.temperatureInDetailHour23 {
  position: absolute;
  bottom: 0.5rem;
  right: 0.6rem;
  font-size: 1.1rem;
  font-weight: bold;
}
.windInDetailHour00,
.windInDetailHour01,
.windInDetailHour02,
.windInDetailHour03,
.windInDetailHour04,
.windInDetailHour05,
.windInDetailHour06,
.windInDetailHour07,
.windInDetailHour08,
.windInDetailHour09,
.windInDetailHour10,
.windInDetailHour11,
.windInDetailHour12,
.windInDetailHour13,
.windInDetailHour14,
.windInDetailHour15,
.windInDetailHour16,
.windInDetailHour17,
.windInDetailHour18,
.windInDetailHour19,
.windInDetailHour20,
.windInDetailHour21,
.windInDetailHour22,
.windInDetailHour23 {
  position: absolute;
  top: 5.5rem;
  left: 0.6rem;
  font-size: 0.8rem;
  text-align: left;
  display: none;
}

@media screen and (max-width: 800px) {
  h1 {
    margin-top: 0.5rem;
    font-size: 2.2rem;
  }
  #bgImg {
    object-fit: cover;
  }
  .lgContainer {
    /* height: 900px; */
  }
  .container2 {
    left: 0%;
    right: 0%;
    height: 500px;
  }
  .container {
    left: 0%;
    right: 0%;
    max-width: 800px;
    max-height: 1420px;
    margin: auto;
    padding: 2% 4% 14rem;
  }
  input {
    width: 58%;
    font-size: 1.1rem;
  }
  button {
    font-size: 1.4rem;
    margin-top: -1rem;
  }
  #btnCheck {
    width: 35%;
  }
  #btnForcast {
    width: 45%;
  }
  .details {
    font-size: 1.1rem;
  }
  .details2 {
    font-size: 1.1rem;
  }
  .overall {
    position: absolute;
    right: 0.8rem;
    top: 14.5rem;
    width: 320px;
    text-align: right;
    font-size: 1.3rem;
    font-weight: 300;
  }
  .hrVisible {
    position: absolute;
    width: 352px;
    top: 18rem;
    left: 1rem;
    border-top: 1px solid white;
  }
  .hrVisible4 {
    top: 19rem;
  }
  .day1,
  .day2,
  .day3 {
    width: 120px;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .location {
    position: absolute;
    border-radius: 0 0 20px 0;
    display: inline-block;
    left: 0;
    width: 380px;
    text-align: left;
    font-weight: 300;
    top: 14.5rem;
    font-size: 1.3rem;
  }
  .onlyTimeZone {
    left: 0rem;
    top: 17.5rem;
    text-align: left;
  }
  .latitudeLongitude {
    left: 0;
    top: 23.3rem;
  }
  .wind {
    top: 28rem;
    left: 0rem;
  }
  .temperature {
    top: 23.3rem;
    right: 0rem;
  }
  .humidity {
    top: 28rem;
    right: 0rem;
  }
  .onlyDate {
    right: 0rem;
    top: 31.5rem;
  }
  .onlyTime {
    left: 0rem;
    top: 31.5rem;
    text-align: left;
  }
  .icon {
    position: absolute;
    right: 2rem;
    top: 18rem;
  }
  .forecastLocation {
    font-size: 1.5rem;
  }
  .error {
    font-size: 1.5rem;
  }

  .footer,
  .forecastFooter {
    right: 1%;
    font-size: 0.8rem;
    top: 42.3rem;
  }
  /* In detail elements */
  .overallInDetail,
  .locationInDetail,
  .iconInDetail,
  .latitudeLongitudeInDetail,
  .temperatureInDetail,
  .windInDetail,
  .humidityInDetail,
  .onlyDateInDetail,
  .onlyTimeInDetail,
  .sunriseSunsetTimeInDetail,
  .moonriseMoonsetTimeInDetail,
  .chancesOfSnowInDetail,
  .chancesOfRainInDetail {
    font-size: 1.2rem;
  }
  .hourlyTitle {
    position: relative;
    top: 12.5rem;
    font-size: 1rem;
    color: rgb(218, 218, 218);
    margin: 0 auto -0.5rem;
  }
  .previousDay,
  .nextDay {
    position: absolute;
    top: 33.8rem;
  }
  .previousDay {
    left: 1.6rem;
    text-align: left;
    padding: 0.5rem;
  }
  .nextDay {
    right: 1.6rem;
    text-align: right;
  }
  .hr2 {
    height: 243px;
    padding: 2% 0% 3%;
  }

  .overallInDetail {
    top: 16.4rem;
    font-size: 1.3rem;
  }
  .onlyTimeInDetail {
    top: 19.5rem;
    font-size: 1.1rem;
  }
  .onlyDateInDetail {
    top: 11.8rem;
    font-size: 1.1rem;
  }
  .locationInDetail {
    top: 16.4rem;
    font-size: 1.3rem;
  }

  .latitudeLongitudeInDetail {
    font-size: 1.1rem;
    top: 24.6rem;
  }
  .temperatureInDetail {
    top: 24.4rem;
    font-size: 1.1rem;
  }
  .windInDetail {
    font-size: 1.1rem;
    top: 26.2rem;
  }
  .humidityInDetail {
    font-size: 1.1rem;
    top: 26.4rem;
  }

  .sunriseSunsetTimeInDetail {
    top: 28rem;
    font-size: 1.1rem;
  }
  .moonriseMoonsetTimeInDetail {
    top: 28rem;
    font-size: 1.1rem;
  }

  .hour {
    position: relative;
    display: inline-block;
    top: 13rem;
    font-size: 0.7rem;
    width: 95px;
    height: 95px;
    margin: 0.2rem;
    padding: 0.7rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .overallInDetailHour00,
  .overallInDetailHour01,
  .overallInDetailHour02,
  .overallInDetailHour03,
  .overallInDetailHour04,
  .overallInDetailHour05,
  .overallInDetailHour06,
  .overallInDetailHour07,
  .overallInDetailHour08,
  .overallInDetailHour09,
  .overallInDetailHour10,
  .overallInDetailHour11,
  .overallInDetailHour12,
  .overallInDetailHour13,
  .overallInDetailHour14,
  .overallInDetailHour15,
  .overallInDetailHour16,
  .overallInDetailHour17,
  .overallInDetailHour18,
  .overallInDetailHour19,
  .overallInDetailHour20,
  .overallInDetailHour21,
  .overallInDetailHour22,
  .overallInDetailHour23 {
    position: relative;
    font-size: 0.9rem;
  }

  .inDetailTimeHour00,
  .inDetailTimeHour01,
  .inDetailTimeHour02,
  .inDetailTimeHour03,
  .inDetailTimeHour04,
  .inDetailTimeHour05,
  .inDetailTimeHour06,
  .inDetailTimeHour07,
  .inDetailTimeHour08,
  .inDetailTimeHour09,
  .inDetailTimeHour10,
  .inDetailTimeHour11,
  .inDetailTimeHour12,
  .inDetailTimeHour13,
  .inDetailTimeHour14,
  .inDetailTimeHour15,
  .inDetailTimeHour16,
  .inDetailTimeHour17,
  .inDetailTimeHour18,
  .inDetailTimeHour19,
  .inDetailTimeHour20,
  .inDetailTimeHour21,
  .inDetailTimeHour22,
  .inDetailTimeHour23 {
    position: absolute;
    bottom: 0.6rem;
    left: 0.6rem;
    font-size: 0.8rem;
  }

  .iconInDetailHour00 {
    position: relative;
    top: -0.4rem;

    font-size: 0.9rem;
  }

  .temperatureInDetailHour00,
  .temperatureInDetailHour01,
  .temperatureInDetailHour02,
  .temperatureInDetailHour03,
  .temperatureInDetailHour04,
  .temperatureInDetailHour05,
  .temperatureInDetailHour06,
  .temperatureInDetailHour07,
  .temperatureInDetailHour08,
  .temperatureInDetailHour09,
  .temperatureInDetailHour10,
  .temperatureInDetailHour11,
  .temperatureInDetailHour12,
  .temperatureInDetailHour13,
  .temperatureInDetailHour14,
  .temperatureInDetailHour15,
  .temperatureInDetailHour16,
  .temperatureInDetailHour17,
  .temperatureInDetailHour18,
  .temperatureInDetailHour19,
  .temperatureInDetailHour20,
  .temperatureInDetailHour21,
  .temperatureInDetailHour22,
  .temperatureInDetailHour23 {
    position: absolute;
    bottom: 0.5rem;
    right: 0.6rem;
    font-size: 1.1rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 2.2rem;
  }
  #bgImg {
    object-fit: cover;
    display: block;
    margin: auto;
  }
  .container {
    max-height: 1700px;
    padding: 2% 0 47%;
    margin: 0;
  }
  label {
    font-size: 1.3rem;
  }
  input {
    width: 53%;
  }
  button {
    font-size: 1.2rem;
  }
  .overall {
    font-size: 1.1rem;
    width: 200px;
    right: 0;
    top: 14rem;
  }
  .day1,
  .day2,
  .day3 {
    width: 110px;
  }
  .details,
  .details2 {
    font-size: 1rem;
  }
  .hrVisible {
    width: 300px;
    top: 17.5rem;
  }
  .hrVisible4 {
    top: 17.5rem;
    left: 0.5rem;
  }
  .location {
    font-size: 1.1rem;
    width: 300px;
    left: 0;
    top: 14rem;
  }
  .latitudeLongitude {
    top: 21.3rem;
  }
  .wind {
    top: 26rem;
  }
  .temperature {
    top: 21.3rem;
  }
  .humidity {
    top: 26rem;
  }
  .onlyDate {
    top: 29.5rem;
  }
  .onlyTime {
    top: 29.5rem;
  }
  .icon {
    position: absolute;
    right: 2rem;
    top: 18rem;
  }
  .footer,
  .forecastFooter {
    right: 1%;
    font-size: 0.8rem;
    top: 43.3rem;
  }
  .icon {
    right: 1rem;
    top: 16.8rem;
  }
  .forecastLocation {
    font-size: 1.4rem;
  }
  /* in detail elements */
  .overallInDetail,
  .locationInDetail,
  .iconInDetail,
  .latitudeLongitudeInDetail,
  .temperatureInDetail,
  .windInDetail,
  .humidityInDetail,
  .onlyDateInDetail,
  .onlyTimeInDetail,
  .sunriseSunsetTimeInDetail,
  .moonriseMoonsetTimeInDetail,
  .chancesOfSnowInDetail,
  .chancesOfRainInDetail {
    font-size: 1rem;
  }
  .hourlyTitle {
    position: relative;
    font-size: 0.9rem;
    top: 11.2rem;
  }
  .previousDay,
  .nextDay {
    position: absolute;
    top: 31.3rem;
    font-size: 0.8rem;
  }
  .previousDay {
    left: 0.5rem;
    text-align: left;
    padding: 0.5rem;
  }
  .nextDay {
    right: 0.5rem;
    text-align: right;
  }
  .hr2 {
    position: absolute;
    left: 0%;
    right: 0%;
    max-width: 700px;
    height: 230px;
    margin: -2.5rem auto 1rem;
    padding: 2% 6% 3%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  .overallInDetail {
    position: absolute;
    top: 15.5rem;
    right: 0.5rem;
    font-size: 1.1rem;
  }
  .locationInDetail {
    position: absolute;
    top: 15.5rem;
    left: 0.5rem;
    font-size: 1.1rem;
  }
  .onlyTimeInDetail {
    position: absolute;
    text-align: left;
    left: 0.5rem;
    top: 18rem;
  }
  .onlyDateInDetail {
    position: relative;
    top: 10.6rem;
    font-size: 1rem;
  }
  .iconInDetail {
    position: relative;
    top: 0.2rem;
    right: 0.5rem;
  }
  .latitudeLongitudeInDetail {
    position: absolute;
    left: 0.5rem;
    font-size: 1rem;
    top: 22.6rem;
  }
  .temperatureInDetail {
    position: absolute;
    right: 0.5rem;
    top: 22.4rem;
    color: rgb(255, 255, 255);
  }
  .windInDetail {
    position: absolute;
    left: 0.5rem;
    top: 24.4rem;
  }
  .humidityInDetail {
    position: absolute;
    right: 0.5rem;
    text-align: right;
    font-size: 1rem;
    top: 24.7rem;
  }
  .sunriseSunsetTimeInDetail {
    position: absolute;
    left: 0.5rem;
    top: 26.5rem;
  }
  .moonriseMoonsetTimeInDetail {
    position: absolute;
    top: 26.5rem;
    right: 0.5rem;
    color: rgb(201, 201, 201);
  }

  .hour {
    top: 11.5rem;
  }
  /*
  .overallInDetailHour00,
  .overallInDetailHour01,
  .overallInDetailHour02,
  .overallInDetailHour03,
  .overallInDetailHour04,
  .overallInDetailHour05,
  .overallInDetailHour06,
  .overallInDetailHour07,
  .overallInDetailHour08,
  .overallInDetailHour09,
  .overallInDetailHour10,
  .overallInDetailHour11,
  .overallInDetailHour12,
  .overallInDetailHour13,
  .overallInDetailHour14,
  .overallInDetailHour15,
  .overallInDetailHour16,
  .overallInDetailHour17,
  .overallInDetailHour18,
  .overallInDetailHour19,
  .overallInDetailHour20,
  .overallInDetailHour21,
  .overallInDetailHour22,
  .overallInDetailHour23 {
    position: relative;
    font-size: 0.9rem;
  }

  .inDetailTimeHour00,
  .inDetailTimeHour01,
  .inDetailTimeHour02,
  .inDetailTimeHour03,
  .inDetailTimeHour04,
  .inDetailTimeHour05,
  .inDetailTimeHour06,
  .inDetailTimeHour07,
  .inDetailTimeHour08,
  .inDetailTimeHour09,
  .inDetailTimeHour10,
  .inDetailTimeHour11,
  .inDetailTimeHour12,
  .inDetailTimeHour13,
  .inDetailTimeHour14,
  .inDetailTimeHour15,
  .inDetailTimeHour16,
  .inDetailTimeHour17,
  .inDetailTimeHour18,
  .inDetailTimeHour19,
  .inDetailTimeHour20,
  .inDetailTimeHour21,
  .inDetailTimeHour22,
  .inDetailTimeHour23 {
    position: absolute;
    bottom: 0.6rem;
    left: 0.6rem;
    font-size: 0.8rem;
  }

  .iconInDetailHour00 {
    position: relative;
    top: -0.4rem;

    font-size: 0.9rem;
  } */

  .temperatureInDetailHour00,
  .temperatureInDetailHour01,
  .temperatureInDetailHour02,
  .temperatureInDetailHour03,
  .temperatureInDetailHour04,
  .temperatureInDetailHour05,
  .temperatureInDetailHour06,
  .temperatureInDetailHour07,
  .temperatureInDetailHour08,
  .temperatureInDetailHour09,
  .temperatureInDetailHour10,
  .temperatureInDetailHour11,
  .temperatureInDetailHour12,
  .temperatureInDetailHour13,
  .temperatureInDetailHour14,
  .temperatureInDetailHour15,
  .temperatureInDetailHour16,
  .temperatureInDetailHour17,
  .temperatureInDetailHour18,
  .temperatureInDetailHour19,
  .temperatureInDetailHour20,
  .temperatureInDetailHour21,
  .temperatureInDetailHour22,
  .temperatureInDetailHour23 {
    position: absolute;
    bottom: 0.6rem;
    right: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
}
